body {

}

h1,h2,h3,h4,h5,h6,p {
    color: rgb(247, 229, 9); /* yellow */
    color: rgb(243,107,33); /* orange */
    color: rgb(0,169,80); /* green */
    color: rgb(227,37,38); /* red */
    color: rgb(25,154,214); /* blue */
}
#banner{
   background-color:  rgb(230,230,230);
}


.navwords:hover{
        color: rgb(52, 73, 94) !important;
}

.header{
    position: fixed;
    font-weight: bold;
}